@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.counters {
	color: rgb(255, 255, 255);
	padding: 40px 20px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}


.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}