@import url("https://fonts.googleapis.com/css?family=Raleway:400,200");

* {
  margin: 0;
  padding: 0;
}
.ytp-cued-thumbnail-overlay-image{
  background-image: url(../public/game.png) !important;
}
body {
  background: #1d023e !important;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Martel", serif;
  overflow-x: hidden !important;
}
a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.container-fluid {
  padding: 0 !important;
}
.a__sportsBg {
  background: url("../public/bg2.png");
  background-position: center;
  background-size: cover;
}
.swiper {
  margin-top: -50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 400px !important;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 150px;
    height: auto;
  }
}

.swiper-slide img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerBg {
  position: relative;
  width: 100%;
  height: 75vh;
  background: linear-gradient(180deg, #aa1ef1 0%, rgba(170, 30, 241, 0) 100%);
  display: block;
  border-radius: 40px 40px 0 0;
  /* padding-bottom: 88px !important; */
}

.containerBg .swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .containerBg .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.swiper-container {
  margin-top: 50px;
  position: relative;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  color: black;
}

.arrow-right {
  color: black;
  position: absolute;
  top: 50%;
  right: 0;
}

/* Contact us page */

.soci_wrap {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 25px;
}
.soci_wrap li {
  margin: 0px 5px;
}
.soci_wrap li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: all 0.3s ease;
}
/* / Contact us page */

/******** tournamentsBrowseCards Styling ********/

.tournamentsBrowseCards {
  height: 300px !important;
  background-image: url(../public/game.png);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tournamentsBrowseCards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.tournamentsBrowseCards:focus::after,
.tournamentsBrowseCards:hover::after {
  transform: scale(1.05);
}

.tournamentsBrowseCards .cardTarsparent {
  height: 60% !important;
  width: 100%;
  /* background-color: #2B0C52; */
}
.tournamentsBrowseCards .cardData {
  background-color: #2b0c52;
  color: rgba(225, 225, 225, 0.8) !important;
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}

.tournamentsBrowseCards .cardData .roundBox {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.tournamentsBrowseCards .cardData .cardTitle {
  font-size: 20px;
  /* font-weight: bold; */
  text-align: left !important;
  margin-bottom: 0.5rem !important;
  color: rgba(225, 225, 225, 0.8) !important;
}
.tournamentsBrowseCards .cardData .dataCard2 p {
  margin-bottom: 0.5rem !important;
}
.tournamentsBrowseCards .roundBox span {
  font-size: 48px;
  line-height: 44px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: white;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}
/******** / tournamentsBrowseCards Styling ********/

/* ***************TrendingVideos*************** */
.trendingVideo {
  background-image: url(../public/bg2.png);
  background-size: cover;
  background-position: bottom;
}
.carousel-indicators {
  display: none !important;
}
.carousel-control-prev {
  left: -100px !important;
}
.carousel-control-next {
  right: -100px !important;
}
.carousel-item > div {
  width: 100% !important;
}
.carousel-item {
  border-radius: 20px !important;
  position: relative;
}
.carousel-item .carousel-caption {
  width: 100% !important;
  background-color: hsl(267, 74%, 18%) !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.trendingHeading {
  text-align: left;
  padding-left: 24px !important;
  margin-top: 20px !important;
  line-height: 5px;
}
.trendingHeading p {
  color: rgba(255, 255, 255, 0.425);
}
.carousel-control-next-icon {
  background-image: url(../public/nextIcon.png) !important;
  transform: scale(1.2);
}
.carousel-control-prev-icon {
  background-image: url(../public/prevIcon.png) !important;
  transform: scale(1.2);
}
/* *************** / TrendingVideos*************** */

/************** Event Page ************* */

.SimilarEventTitle {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 24px;
}
.EventPageSection {
  background-image: url(../public/bg2.png);
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden !important;
}
.EventPageSection .eventDescription {
  color: rgba(255, 255, 255, 0.651);
}
.EventPageSection .InputTeamID {
  margin-top: 25px;
}
.EventPageSection .InputTeamID input {
  color: rgba(255, 255, 255, 0.822);
  background-color: transparent !important;
  border: 1px solid #aa1ef1;
}
.EventPageSection .InputTeamID input:focus {
  box-shadow: none !important;
}
.EventPageSection .InputTeamID .input-group-text {
  background-color: transparent !important;
  color: white;
  border: 1px solid #aa1ef1;
}
.EventPageSection .eventsDate {
  border: 1px solid #aa1ef1;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.705);
  height: 100%;
  /* margin: 6px 12px !important; */
}
.EventPageSection .eventsDate span {
  font-size: 48px;
  line-height: 42px;
}
.EventPageSection .downloadPDFcol .downloadPDF {
  border: 1px solid #aa1ef1;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.705);
  height: 100%;
  width: 100% !important;
}
.EventPageSection .downloadPDFcol .downloadPDF img {
  height: 30px !important;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
.EventPageSection .downloadPDFcol .downloadPDF p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}
.prizeAndDiscord .downloadPDFcol .downloadPDF,
.prizeAndDiscord .eventsDate {
  border-radius: 0 !important;
}
.prizeAndDiscord .eventsDate {
  /* padd */
  border-radius: 8px 0 0 8px !important;
}
.prizeAndDiscord .eventsDate span {
  font-size: 24px;
  color: #ba36fc;
  padding-left: 8px;
}
.prizeAndDiscord .downloadPDFcol .downloadPDF p {
  position: initial;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.prizeAndDiscord .downloadPDFcol .downloadPDF {
  border-radius: 0 8px 8px 0 !important;
}
/************** / Event Page ************* */

/***************** footerLogoBranding**************** */
.footerLogoBranding{
  width: 100%;
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.logosFooter{
  margin-top: 15px;
  padding-top: 15px;
  width: 98%;
  padding-left: 2%;
  border-top: 0.05px solid rgba(255, 255, 255, 0.5);
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.logoNavBar{
  height: 40px;
  user-select: none;
  cursor: pointer;
}
.css-19mxba5-MuiTypography-root {
  padding: 0 !important;
}

.circleCursor {
	position: absolute;
  border: solid 1px #9d1ddd;
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
  z-index: 9999999;
  pointer-events: none;
    will-change: transform;
}
/***************** / footerLogoBranding**************** */



/* *********Hero Text Gltch Effect********* */

.heroText {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}

.layersText {
  position: relative;
}

.layersText::before,
.layersText::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layersText::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layersText::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layersText, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

/* *********   / Hero Text Gltch Effect********* */

/* ** Members */

body {
  font-family: Helvetica, san-serif;
  background: -webkit-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #00aaee 10%, #dd2476 90%); /* IE10 */
  background: -o-linear-gradient(
    90deg,
    #00aaee 10%,
    #dd2476 90%
  ); /* Opera 11.10+ */
  background: linear-gradient(90deg, #00aaee 10%, #dd2476 90%); /* W3C */
}
.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.card {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  margin-bottom: 36px;
}
.card:hover {
  height: 380px;
  width: 300px;
}
.card:hover .cta-container {
  display: inline;
  margin-top: 380px;
}
.card:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -130px;
}
.card:hover h2 {
  background: #3487f7;
  color: #fff;
  margin-top: 100px;
  padding: 5px;
}
.card:hover h2 small {
  color: #fff;
}
.card:hover p {
  margin-top: 300px !important;
}
.card_circle {
  background: url("/2.png") no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50% ;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}
.card h2 {
  color: #3487f7;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px!important;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
  
}
.card p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px !important;
  position: absolute;
  text-align: center;
  z-index: 9999;
}
.cta-container {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.cta {
  -moz-border-radius: 2px;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #3487f7;
  border-radius: 2px;
  color: #3487f7;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
.cta:hover {
  background-color: #3487f7;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
