@import url("https://fonts.googleapis.com/css?family=Raleway:400,200");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.ytp-cued-thumbnail-overlay-image{
  background-image: url(../public/game.png) !important;
}
body {
  background: #1d023e !important;
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}
a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.container-fluid {
  padding: 0 !important;
}
.a__sportsBg {
  background: url("../public/bg2.png");
  background-position: center;
  background-size: cover;
}
.swiper {
  margin-top: -50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 400px !important;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 150px;
    height: auto;
  }
}

.swiper-slide img {
  display: flex;
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  transform: scale(0.8);
}

.containerBg {
  position: relative;
  width: 100%;
  height: 75vh;
  background: linear-gradient(180deg, #aa1ef1 0%, rgba(170, 30, 241, 0) 100%);
  display: block;
  border-radius: 40px 40px 0 0;
  /* padding-bottom: 88px !important; */
}

.containerBg .swiper-container {
  width: 70%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 768px) {
  .containerBg .swiper-container {
    bottom: -58vw;
    padding-bottom: 8vw;
  }
}

.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}

.swiper-container {
  margin-top: 50px;
  position: relative;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  color: black;
}

.arrow-right {
  color: black;
  position: absolute;
  top: 50%;
  right: 0;
}

/* Contact us page */

.soci_wrap {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 25px;
}
.soci_wrap li {
  margin: 0px 5px;
}
.soci_wrap li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: all 0.3s ease;
}
/* / Contact us page */

/******** tournamentsBrowseCards Styling ********/

.tournamentsBrowseCards {
  height: 300px !important;
  background-image: url(../public/game.png);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tournamentsBrowseCards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.tournamentsBrowseCards:focus::after,
.tournamentsBrowseCards:hover::after {
  transform: scale(1.05);
}

.tournamentsBrowseCards .cardTarsparent {
  height: 60% !important;
  width: 100%;
  /* background-color: #2B0C52; */
}
.tournamentsBrowseCards .cardData {
  background-color: #2b0c52;
  color: rgba(225, 225, 225, 0.8) !important;
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}

.tournamentsBrowseCards .cardData .roundBox {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.tournamentsBrowseCards .cardData .cardTitle {
  font-size: 20px;
  /* font-weight: bold; */
  text-align: left !important;
  margin-bottom: 0.5rem !important;
  color: rgba(225, 225, 225, 0.8) !important;
}
.tournamentsBrowseCards .cardData .dataCard2 p {
  margin-bottom: 0.5rem !important;
}
.tournamentsBrowseCards .roundBox span {
  font-size: 48px;
  line-height: 44px;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: white;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: white;
}
/******** / tournamentsBrowseCards Styling ********/

/* ***************TrendingVideos*************** */
.trendingVideo {
  background-image: url(../public/bg2.png);
  background-size: cover;
  background-position: bottom;
}
.carousel-indicators {
  display: none !important;
}
.carousel-control-prev {
  left: -100px !important;
}
.carousel-control-next {
  right: -100px !important;
}
.carousel-item > div {
  width: 100% !important;
}
.carousel-item {
  border-radius: 20px !important;
  position: relative;
}
.carousel-item .carousel-caption {
  width: 100% !important;
  background-color: hsl(267, 74%, 18%) !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.trendingHeading {
  text-align: left;
  padding-left: 24px !important;
  margin-top: 20px !important;
  line-height: 5px;
}
.trendingHeading p {
  color: rgba(255, 255, 255, 0.425);
}
.carousel-control-next-icon {
  background-image: url(../public/nextIcon.png) !important;
  transform: scale(1.2);
}
.carousel-control-prev-icon {
  background-image: url(../public/prevIcon.png) !important;
  transform: scale(1.2);
}
/* *************** / TrendingVideos*************** */

/************** Event Page ************* */

.SimilarEventTitle {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 24px;
}
.EventPageSection {
  background-image: url(../public/bg2.png);
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden !important;
}
.EventPageSection .eventDescription {
  color: rgba(255, 255, 255, 0.651);
}
.EventPageSection .InputTeamID {
  margin-top: 25px;
}
.EventPageSection .InputTeamID input {
  color: rgba(255, 255, 255, 0.822);
  background-color: transparent !important;
  border: 1px solid #aa1ef1;
}
.EventPageSection .InputTeamID input:focus {
  box-shadow: none !important;
}
.EventPageSection .InputTeamID .input-group-text {
  background-color: transparent !important;
  color: white;
  border: 1px solid #aa1ef1;
}
.EventPageSection .eventsDate {
  border: 1px solid #aa1ef1;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.705);
  height: 100%;
  /* margin: 6px 12px !important; */
}
.EventPageSection .eventsDate span {
  font-size: 48px;
  line-height: 42px;
}
.EventPageSection .downloadPDFcol .downloadPDF {
  border: 1px solid #aa1ef1;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.705);
  height: 100%;
  width: 100% !important;
}
.EventPageSection .downloadPDFcol .downloadPDF img {
  height: 30px !important;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
.EventPageSection .downloadPDFcol .downloadPDF p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}
.prizeAndDiscord .downloadPDFcol .downloadPDF,
.prizeAndDiscord .eventsDate {
  border-radius: 0 !important;
}
.prizeAndDiscord .eventsDate {
  /* padd */
  border-radius: 8px 0 0 8px !important;
}
.prizeAndDiscord .eventsDate span {
  font-size: 24px;
  color: #ba36fc;
  padding-left: 8px;
}
.prizeAndDiscord .downloadPDFcol .downloadPDF p {
  position: initial;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.prizeAndDiscord .downloadPDFcol .downloadPDF {
  border-radius: 0 8px 8px 0 !important;
}
.browseTSelect{
  background-color: transparent !important;
  border: 1px solid #AA1EF1 !important;
  color: white !important;
  box-shadow: none !important;
  height: 50px !important;
}
.browseTSelect.browseTSelectSelect{
  background-image: url('https://www.pngkit.com/png/full/49-493567_want-to-build-a-new-income-stream-online.png') !important;
}
.MuiPaper-root{
  background: linear-gradient(241.86deg, #C249FF 0.95%, #AA1EF1 34.48%, #9611D9 56.15%, #7A00B8 86.07%);
  /* padding: 20px 10px !important; */
}
.browseTSelect.browseTSelected{
  background-color: #810abd56 !important;
  border-radius: 0px 8px 8px 0 !important;
}
.browseTSelect.browseTSelecting{
  border-radius: 8px 0 0 8px !important;
}
/************** / Event Page ************* */

/***************** footerLogoBranding**************** */
.footerLogoBranding{
  width: 100%;
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.logosFooter{
  margin-top: 15px;
  padding-top: 15px;
  width: 98%;
  padding-left: 2%;
  border-top: 0.05px solid rgba(255, 255, 255, 0.5);
  -moz-user-select: none;
-webkit-user-select: none;
user-select: none;
}
.logoNavBar{
  height: 40px;
  user-select: none;
  cursor: pointer;
}
.css-19mxba5-MuiTypography-root {
  padding: 0 !important;
}

.circleCursor {
	position: absolute;
  border: solid 1px #9d1ddd;
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
  z-index: 9999999;
  pointer-events: none;
    will-change: transform;
}

/***************** / footerLogoBranding**************** */

/********* Tournaments Format ******** */


.tournament{
  margin: 5rem auto;
}
.rotateImg{
  transform: rotate(270deg);
}
.arroww{
  transform: rotate(-15deg);
 
}
.icons p{
  font-size: smaller;
  
}
.icons i{
  color: blueviolet;
}
.tournament img{
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .arroww{
      transform: rotate(45deg);
     
  }
  .rotateImg{
      transform: rotate(45deg);
     
  }
  .tournament img{
      width: 50px;
      height: 50px;
  }
}

/********* Tournaments Format ******** */


/* *********Hero Text Gltch Effect********* */

.heroText {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}

.layersText {
  position: relative;
}

.layersText::before,
.layersText::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layersText::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layersText::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layersText, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

/* *********   / Hero Text Gltch Effect********* */

/* ** Team Members */

.card {
  position: relative;
  width: 300px;
  height: 380px;
  border-radius: 10px;
  background: inherit !important;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 .5em 1em rgba(0,0,0,.3);
}
.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;
  filter: blur(80px);
  background: inherit;
  box-shadow: inset 0 0 3000px rgba(255,255,255,.5);
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: -20px;
}
.card:hover::before {
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: blur(30px);
}


.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  object-fit: cover;
}
.card:hover .img-bx img{
  transform: scale(1.1) !important;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  color: white !important;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: rgb(255, 255, 255);
  font-size: 1.6em;
  font-weight: bolder;
  margin-bottom: 2px !important;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #ffffff9a;
  font-weight: normal;
}
.content .detail p{
  color: #cd68ff;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.sci li {
  list-style: none;
  margin: 4px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;
  font-size: 1.5em;
  color: #444;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}

.sci li a:hover {
  background: #03a9f4;
  color: #fff;
}

ul {
  padding-left: 0 rem !important;
}
.heroText.glitch{
  letter-spacing: 0 !important;
  font-size: 48px !important;
}
.formatTitle.tournamentsFormat{
  margin-top: 50px;
}
.tournament{
  margin: 60px 0 !important;
}
.browseTSelect *
{
 background-color: #AA1EF1 !important;
}
.css-1u97i3d-MuiButtonBase-root-MuiMenuItem-root{
  background: transparent;
}
.css-1u97i3d-MuiButtonBase-root-MuiMenuItem-root:hover{
  background: transparent;
}
.fontSizeEvents .Eventsh2{
  font-size: 48px;
}

.heroText.glitch{
  font-family: 'Gamerock' !important;
  font-size: 108px !important;
  letter-spacing: 3px !important;
  text-align: center !important;
  line-height: 150px !important; 
}

/* ****** contact us form ******  */

.contactusPage .sendMessage{
  background: rgba(255, 255, 255, 0.1) !important;
  mix-blend-mode: luminosity;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
}
.contactusPage .contactInfo{
  height: 100%;
  min-height: 360px;
}
.soci_wrap li a i{
  padding-bottom: 30px !important;
}
.locatinIcon, .soci_wrap li a i{
  color: rgba(255, 255, 255, 0.5) !important;
}
.sendMessage .sam1{
  margin-right: 5px !important;
}
.sendMessage .sam2{
  margin-left: 5px !important;
}
.accordion__button{
  background-color: #2B0C52 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.accordion__panel {
  background-color: #2B0C52;
  mix-blend-mode: luminosity;
  color: rgba(255, 255, 255, 0.7);
  transition: 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* ****** /// contact us form ******  */

.aboutCountUp .aboutCountUpIcon{
  font-size: 70px;
  margin-bottom: 10px;
  color: #b542ee !important;
}
.aboutCountUp p{
  color: rgba(255, 255, 255, 0.9);
}
.aboutCountUp h1{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

/* ******* register form *******  */

.registerForm{
  position: absolute;
  top: 0;
  right: 10%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.registerForm .form_wrapper {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
  border-top: 5px solid #AA1EF1;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.8s 0.6s ease-out forwards;
  animation: expand 0.8s 0.6s ease-out forwards;
  opacity: 0;
}
.registerForm .form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.registerForm .form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.registerForm .form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.registerForm .form_wrapper label {
  font-size: 12px;
}
.registerForm .form_wrapper .row {
  margin: 10px -15px;
}
.registerForm .form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.registerForm .form_wrapper .col_half {
  width: 50%;
  float: left;
}
.registerForm .form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: bounce 0.6s ease-out;
  animation: bounce 0.6s ease-out;
}
.registerForm .form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}
.registerForm .form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.registerForm .form_wrapper .textarea_field > span > i {
  padding-top: 10px;
}
.registerForm .form_wrapper input[type=text], .registerForm .form_wrapper input[type=email], .registerForm .form_wrapper input[type=password] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.registerForm .form_wrapper input[type=text]:hover, .registerForm .form_wrapper input[type=email]:hover, .registerForm .form_wrapper input[type=password]:hover {
  background: #fafafa;
}
.registerForm .form_wrapper input[type=text]:focus, .registerForm .form_wrapper input[type=email]:focus, .registerForm .form_wrapper input[type=password]:focus {
  -webkit-box-shadow: 0 0 2px 1px #AA1EF1;
  -moz-box-shadow: 0 0 2px 1px #AA1EF1;
  box-shadow: 0 0 2px 1px #AA1EF1;
  border: 1px solid #AA1EF1;
  background: #fafafa;
}
.registerForm .form_wrapper input[type=submit] {
  background: #AA1EF1;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.registerForm .form_wrapper input[type=submit]:hover {
  background: #640494;
}
.registerForm .form_wrapper input[type=submit]:focus {
  background: #640494;
}
.registerForm .form_wrapper input[type=checkbox], .registerForm .form_wrapper input[type=radio] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.registerForm .form_container .row .col_half.last {
  border-left: 1px solid #cccccc;
}

.registerForm .checkbox_option label {
  margin-right: 1em;
  position: relative;
}
.registerForm .checkbox_option label:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 0.5em;
  vertical-align: -2px;
  border: 2px solid #cccccc;
  padding: 0.12em;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.registerForm .checkbox_option label:after {
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  width: 7px;
  display: none;
}
.registerForm .checkbox_option input:hover + label:before {
  border-color: #000000;
}
.registerForm .checkbox_option input:checked + label:before {
  border-color: #000000;
}
.registerForm .checkbox_option input:checked + label:after {
  -moz-animation: check 0.8s ease 0s running;
  -webkit-animation: check 0.8s ease 0s running;
  animation: check 0.8s ease 0s running;
  display: block;
  width: 7px;
  height: 20px;
  border-color: #000000;
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 7px;
  }
  50% {
    height: 20px;
    width: 7px;
  }
}
@-webkit-keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes expand {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale3d(1, 1.2, 1);
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 0.85, 1);
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    -webkit-transform: scale3d(1, 1.05, 1);
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}


/* ******* / register form *******  */


@media (max-width: 600px) {
  .registerForm .form_wrapper .col_half {
    width: 100%;
    float: none;
  }

  .bottom_row .col_half {
    width: 50%;
    float: left;
  }

  .registerForm .form_container .row .col_half.last {
    border-left: none;
  }

  .remember_me {
    padding-bottom: 20px;
  }
}

@media(max-width: 768px){
  .heroText.glitch{
    font-size: 42px !important;
    margin-bottom: 0 !important;
    letter-spacing: 1px !important;
    line-height: 40px !important;
}
.formatTitle{
  /* font-size: 24px !important; */
  font-size: 27px !important;
  margin-top: 0px !important;
}
.formatTitle.tournamentsFormat{
  margin-top: 70px !important;
}
.tournament{
  margin: 40px 0 !important;
}
.browseSearch{
  margin-top: 20px !important;
  padding: 0 20px !important;
}
.carousel-control-next{
  right: -16% !important;
}
.carousel-control-prev{
  left: -16% !important;
}
.cardTitle{
  font-size: 16px !important;
}
.dataCard2{
  transform: scale(0.9);
}
.cardData{
  padding: 0 18px;
}
.dataCard2 p{
  font-size: 10px;
}
.tournamentsBrowseCards .roundBox span {
  font-size: 36px !important;
  line-height: 32px;
}
.tournamentsBrowseCards .cardData .roundBox{
  border-radius: 16px;
  font-size: 12px;
}
.css-phtd2x-MuiButtonBase-root-MuiMenuItem-root{
  background: transparent !important;
}
.swiper-container {
  width: 768px;
}
.mySwiper{
  /* background-color: white; */
}
.mySwiper .swiper-wrapper{
  left: -90px;
}
.fontSizeEvents .Eventsh2{
  font-size: 30px;
}
.teamPageHeading{
  text-align: center;
}
.sendMessage h4, .contactInfo h4{
  text-align: center !important;
}
.soci_wrap {
  position: relative;
  bottom: 0;
}
.soci_wrap a i{
  font-size: 23px;
}
.contactusPage .contactInfo {
  padding: 2rem !important;
}
.locatinIcon p{
  font-size: 14px;
}
.sendMessage .sam1, .sendMessage .sam2{
  margin: 0 !important;
}
.sendMessage .sam2{
  margin-top: 16px !important;
}
.aboutUsContent{
  margin-top: 30px !important;
}
.aboutUsContent p{
  font-size: 14px;
}
.aboutUsPage{
  padding-bottom: -10px !important;
}
.aboutCountUp {
  margin-top: -50px !important;
}
.eventDetailsSection{
  margin-top: 30px !important;
}
.discordPdfLink{
  font-size: 11px !important;
}
}
@media(max-width: 426px){

}